<h1 class="practica">Practica 45</h1>
<hr>

  <header>
    <div class="titulo">
      <h1 class="title">JOSE</h1>
       <h1 class="title">MIJAEL</h1>
       <h1 class="title">ROCHA</h1>
       <h1 class="title">VERA</h1>
    </div>
  </header>


    <h3 class="subtitulo">Nacioanlidad</h3>
    <p>
      Boliviano
    </p>

    <h3 class="subtitulo">Fecha/Lugar de Nacimiento</h3>
    <p>
      06 de enero del 2004/Cochabamba-Bolivia
    </p>



    <h3 class="subtitulo">Perfil</h3>
    <ul>
      <li>Aporto una actitud positiva y la voluntad y motivación para aprender nuevos programas.</li>
      <li>Capaz de trabajar independientemente o en equipo.</li>
      <li>Excepcionalmente organizado y motivado.</li>
      <li>Estudiante trabajador en busca de empleo.</li>
    </ul>

    <h3 class="subtitulo">Idiomas</h3>
    <p>Español - Nativo</p>
    <p>Inglés - Básico</p>

    <h3 class="subtitulo">Formación</h3>

    <ol>
      <li>
        Unidad Educativa Técnico Humanístico Fátima  -   Bachiller en Humanidades  -  Febrero 2018 - diciembre 2021
      </li>

      <li>
        Unidad Educativa Técnico Humanístico Fátima  -  Técnico medio en Diseño Gráfico  -  Febrero 2018 - diciembre 2021
      </li>

      <li>
        olaning S.R.L  -  Desarrollo de Aplicaciones Web  -  Marzo 2022  -   (en curso)
      </li>
    </ol>

    <h3 class="subtitulo">Habilidades Blandas</h3>
    <ul>
      <li>Elaboración de proyecto de vida.</li>
      <li>Planificación de una empresa ficticia. </li>


    <h3 class="subtitulo">Habilidades Duras</h3>
    <ul>
      <li>Prácticas de programación en: HTML, JavaScript, CSS.</li>
      <li>Desarrollo de una calculadora en: JavaScript.</li>
      <li>Desarrollo de un reloj digital en: JavaScript.</li>
      <li>Ensamblado de computadoras.</li>
    </ul>



<div class="row">

  <div class="col-5">
    <label for="flastName" class="lbl">Nombre:</label>
  </div>

    <input 
    type="text"
    id="flastName"
    placeholder="Ingresar Nombre"
    class="txtbox"
    name="nombre"
    [(ngModel)]= "curriculum.nombre"
    ngModel
    required
    minlength="5"
    #direccion="ngModel"
    [class.is.invalid]= "nombre.invalid && nombre.touched"
    pattern="[a-zA-ZñÑ\s]+$"
    >

    <small class="text-danger" *ngIf= "nombre.invalid && nombre.touched">
      Ingrese una Direccion valida
    </small>

</div>